name: Docker Image CI

on:
  push:
    branches: [ "main", "delta-oauth2.0" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    name: Build Image
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read

    strategy:
      fail-fast: false
      matrix:
        language: [ 'java' ]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Setup Java JDK
        uses: actions/setup-java@v5
        with:
          java-version: 25
          distribution: 'temurin'
          check-latest: true
          server-id: github # Value of the distributionManagement/repository/id field of the pom.xml
          settings-path: ${{ github.workspace }} # location for the settings.xml file
      # https://github.com/oktadev/auth0-full-stack-java-example/blob/main/.github/workflows/publish.yml
      # - name: Set Swap Space
      #   if: runner.os == 'Linux'
      #   uses: pierotofy/set-swap-space@master
      #   with:
      #     swap-size-gb: 6

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: BuildImage
        run: ./gradlew bootBuildImage

      - name: Publish 2 MavenLocal
        run: ./gradlew publishToMavenLocal
