name: Gradle Wrapper Update

on:
  schedule:
    - cron: "0 20 * * 1"
  workflow_dispatch:

jobs:
  update:
    runs-on: ${{ matrix.os }}
    timeout-minutes: ${{ (matrix.language == 'swift' && 120) || 360 }}
    permissions:
      issues: write
      pull-requests: write
      contents: write

    strategy:
      matrix:
        os: [ macos-latest ]

    steps:
      - name: checkout
        uses: actions/checkout@v6

      - name: Setup Java JDK
        uses: actions/setup-java@v5
        with:
          java-version: '25'
          distribution: 'corretto'
          check-latest: true
          server-id: github
          settings-path: ${{ github.workspace }}

      - name: update gradle
        id: gradleUpdate
        uses: EdwarDDay/upgrade-gradle-action@v1

      - name: create pull request
        uses: peter-evans/create-pull-request@v7
        with:
          commit-message: "Update gradle to ${{ steps.gradleUpdate.outputs.gradle-version }}"
          branch: "gradle_update/version_${{ steps.gradleUpdate.outputs.gradle-version }}"
          delete-branch: true
          title: "Update gradle to ${{ steps.gradleUpdate.outputs.gradle-version }}"
          body: |
            ${{ steps.gradleUpdate.outputs.version-information }}

            Automated changes by [create-pull-request](https://github.com/peter-evans/create-pull-request) GitHub action
          labels: "dependencies,gradle"
